In [4]:
import pandas as pd
import numpy as np
import sys
from datetime import datetime
from matplotlib import pyplot as plt
import plotly.graph_objects as go

sys.path.insert(0, 'libraries')
from cream import TimeSeriesFeatures, AppliedStrategy
from model_builder import OptimalModel, ModelBuilder

In [2]:
df_mset = pd.read_csv('../cotton/data/df_on_call_mset.csv')

In [3]:
df_mset

,Unnamed: 0,date,season1_03,season1_05,season1_07,season1_10,season1_12,season2_03,season2_05,season2_07,...,pct_delta_max_15_forward,mean_rise_15_forward,max_rise_15_forward,value_delta_mean_7_forward,value_delta_max_7_forward,pct_delta_mean_7_forward,pct_delta_max_7_forward,mean_rise_7_forward,max_rise_7_forward,report_month
0,0,2001-02-02,2108.0,6764.0,16222.0,1518.0,3684.0,9226.0,3322.0,5062.0,...,0.000000,0.0,0.0,-0.442857,0.00,-0.007143,0.000000,0.0,0.0,2
1,1,2001-02-09,1616.0,5927.0,15570.0,1525.0,3809.0,9778.0,3397.0,5488.0,...,0.000000,0.0,0.0,-0.971429,0.00,-0.015834,0.000000,0.0,0.0,2
2,2,2001-02-16,943.0,5252.0,15150.0,1538.0,4451.0,10614.0,3777.0,6339.0,...,0.000831,0.0,1.0,-0.457143,0.05,-0.007600,0.000831,0.0,1.0,2
3,3,2001-02-23,57.0,3967.0,13853.0,1377.0,4924.0,11198.0,4092.0,6779.0,...,0.000000,0.0,0.0,-1.085714,0.00,-0.018355,0.000000,0.0,0.0,2
4,4,2001-03-02,6.0,3113.0,12639.0,1253.0,4934.0,12014.0,4504.0,7528.0,...,0.000000,0.0,0.0,-0.342857,0.00,-0.005973,0.000000,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,1210,2024-05-10,NaN,0.0,16052.0,0.0,22100.0,6638.0,2899.0,2151.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1211,1211,2024-05-17,NaN,NaN,13769.0,0.0,23663.0,6690.0,2894.0,2614.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1212,1212,2024-05-24,NaN,NaN,10438.0,0.0,25272.0,7305.0,4015.0,2632.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1213,1213,2024-05-31,NaN,NaN,9376.0,0.0,27475.0,7557.0,4338.0,3026.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1214,1214,2024-06-07,NaN,NaN,4739.0,0.0,32241.0,8035.0,4565.0,3520.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6